/* DataViewDemo.css */

.dataview-demo .p-dropdown {
  width: 14rem;
  font-weight: normal;
}

.dataview-demo .city-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.dataview-demo .city-description {
  margin: 0 0 1rem 0;
}

.dataview-demo .city-category-icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}

.dataview-demo .city-category {
  font-weight: 600;
  vertical-align: middle;
}

.dataview-demo .city-list-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.dataview-demo .city-list-item img {
  width: 150px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 2rem;
}

.dataview-demo .city-list-item .city-list-detail {
  flex: 1 1 0;
}

.dataview-demo .city-list-item .p-rating {
  margin: 0 0 0.5rem 0;
}

.dataview-demo .city-list-item .city-price {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  align-self: flex-end;
}

.dataview-demo .city-list-item .city-list-action {
  display: flex;
  flex-direction: column;
}

.dataview-demo .city-list-item .p-button {
  margin-bottom: 0.5rem;
}

.dataview-demo .city-grid-item {
  margin: 0.5em;
  border: 1px solid #dee2e6;
  padding: 2rem;
}

.dataview-demo .city-grid-item .city-grid-item-top,
.dataview-demo .city-grid-item .city-grid-item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dataview-demo .city-grid-item img {
  width: 75%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 2rem 0;
}

.dataview-demo .city-grid-item .city-grid-item-content {
  text-align: center;
}

.dataview-demo .city-grid-item .city-price {
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .dataview-demo .city-list-item {
    flex-direction: column;
    align-items: center;
  }

  .dataview-demo .city-list-item img {
    width: 75%;
    margin: 2rem 0;
  }

  .dataview-demo .city-list-item .city-list-detail {
    text-align: center;
  }

  .dataview-demo .city-list-item .city-price {
    align-self: center;
  }

  .dataview-demo .city-list-item .city-list-action {
    display: flex;
    flex-direction: column;
  }

  .dataview-demo .city-list-item .city-list-action {
    margin-top: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.weather-icon {
  width: 200px;
  float: right;
  margin-right: 7rem;
}

.footer {
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  right: 0;
}
.temp {
  font-size: 3rem;
  float: left;
  margin: 1rem 1rem 1rem 1rem;
  width: 300px;
  padding-left: 2rem;
}
.city {
  font-size: 2rem;
  margin: 2rem 1rem 1rem 2rem;
}
.state {
  font-size: 2rem;
}
.topbar-logo {
    margin-top: -20px;
    height: 64px;
}
.inf2lineWeather{
    margin-right: 1rem;
}
.form2lineWeather{
    margin-left: 5rem;
}